<?xml version="1.0" encoding="utf-8"?>

<configuration>
	<connectionStrings>
		<add name="MyProvider" connectionString="sql=con" providerName="sqlkiller" />
	</connectionStrings>
	<appSettings>

		<add key="AppConfigFascadeValueBoolean" value="true" />
		<add key="AppConfigFascadeValueDateTime" value="6/22/2003" />
		<add key="AppConfigFascadeValueEnum" value="Unicode" />
		<add key="AppConfigFascadeValueTimeSpan" value="0:0:0" />
		<add key="AppConfigFascadeValueGuid" value="{00000000-0000-0000-0000-000000000000}" />
		<add key="AppConfigFascadeValueString" value="foobar" />
		<add key="AppConfigFascadeValueSByte" value="0" />
		<add key="AppConfigFascadeValueInt16" value="0" />
		<add key="AppConfigFascadeValueInt32" value="0" />
		<add key="AppConfigFascadeValueInt64" value="0" />
		<add key="AppConfigFascadeValueByte" value="0" />
		<add key="AppConfigFascadeValueUInt16" value="0" />
		<add key="AppConfigFascadeValueUInt32" value="0" />
		<add key="AppConfigFascadeValueUInt64" value="0" />
		<add key="AppConfigFascadeValueSingle" value="0" />
		<add key="AppConfigFascadeValueDouble" value="0" />
		<add key="AppConfigFascadeValueDecimal" value="0" />
		<add key="AppConfigFascadeValueChar" value="0" />


		<add key="BadAppConfigFascadeValueBoolean" value="x" />
		<add key="BadAppConfigFascadeValueDateTime" value="x" />
		<add key="BadAppConfigFascadeValueEnum" value="x" />
		<add key="BadAppConfigFascadeValueTimeSpan" value="x" />
		<add key="BadAppConfigFascadeValueGuid" value="x" />
		<add key="BadAppConfigFascadeValueString" value="x" />
		<add key="BadAppConfigFascadeValueSByte" value="x" />
		<add key="BadAppConfigFascadeValueInt16" value="x" />
		<add key="BadAppConfigFascadeValueInt32" value="x" />
		<add key="BadAppConfigFascadeValueInt64" value="x" />
		<add key="BadAppConfigFascadeValueByte" value="x" />
		<add key="BadAppConfigFascadeValueUInt16" value="x" />
		<add key="BadAppConfigFascadeValueUInt32" value="x" />
		<add key="BadAppConfigFascadeValueUInt64" value="x" />
		<add key="BadAppConfigFascadeValueSingle" value="x" />
		<add key="BadAppConfigFascadeValueDouble" value="x" />
		<add key="BadAppConfigFascadeValueDecimal" value="x" />
		<add key="BadAppConfigFascadeValueChar" value="" />

	</appSettings>

	<system.diagnostics>

		<trace autoflush="false" indentsize="4">
			<listeners>
				<add name="configConsoleListener" type="System.Diagnostics.ConsoleTraceListener" />
			</listeners>
		</trace>

	</system.diagnostics>

</configuration>